.navbar-brand h1 {
  box-sizing: border-box;
  padding-top: 0px;
  margin: 0px;
  font-size: 28px;
}

.container {
  position: relative;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

#nav-list a {
  margin: 0px;
  padding: 0px;
}

#nav-list div {
  width:100%;
  box-sizing: border-box;
  margin: 0px;
  padding:0px;
  background-color: maroon;
  font-size: 1.5em;
  overflow: hidden;
  color: #fff;
}

#collapsable-nav {
  width:100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.content {
  background-color: lightblue;
  margin: 15px;
  height: 1000px;
}

h2 {
  margin-top: 0px;
}
